@inject NavigationManager NavigationManager
@inject IJwtProvider JwtProvider

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <AuthorizeView>
                <Authorized>
                    <a class="navbar-brand" href="">
                        @@@context.User.Identity?.Name
                    </a>
                </Authorized>
                <NotAuthorized>
                    <a class="navbar-brand" href="">ChatApp.BlazorServer</a>
                </NotAuthorized>
            </AuthorizeView>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
            <div class="d-flex">
                <AuthorizeView>
                    <Authorized>
                        <button class="btn btn-danger" type="button" @onclick="OnLogOut">Logout</button>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="btn btn-success" href="login" type="submit">Login</NavLink>
                        <NavLink class="btn btn-success ms-3" href="register" type="submit">Register</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>


@code {
    private async Task OnLogOut()
    {
        await JwtProvider.DeleteTokenAsync();
    }
}