@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJwtProvider JwtProvider
@inject HubConnectionProvider HubConnectionProvider
@implements IDisposable
@inject CallStateContainer CallStateContainer

<PageTitle>ChatApp.BlazorServer</PageTitle>

<div class="page">
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
    <MudLayout>
        <MudAppBar Elevation="1">
            <AuthorizeView>
                <Authorized>
                    <CallsProvider></CallsProvider>
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"/>
                    <MudSpacer/>
                    @if (!_isInCall)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="OnLogOut">
                            Logout
                        </MudButton>
                    }
                </Authorized>
                <NotAuthorized>
                    <MudButton Variant="Variant.Text" Style="color: #fff" Class="me-3" Href="/">
                        ChatApp
                    </MudButton>
                    <MudSpacer/>
                    <MudButton Variant="Variant.Filled" Color="Color.Success" Class="me-3" OnClick="OnLogin">
                        Login
                    </MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="OnRegister">Register</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </MudAppBar>
        <MudDrawer @bind-Open="@_isDrawerOpen" Elevation="1">
            <MudDrawerHeader>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Class="me-3" Href="/">
                    Chat App
                </MudButton>
            </MudDrawerHeader>
            <AuthorizeView>
                <Authorized>
                    <MudNavMenu>
                        <MudNavLink Match="NavLinkMatch.All" Href="users">Users</MudNavLink>
                        <MudNavLink Match="NavLinkMatch.All" Href="chats">Chats</MudNavLink>
                        <MudNavLink Match="NavLinkMatch.All" Href="change-password">Change password</MudNavLink>
                    </MudNavMenu>
                </Authorized>
            </AuthorizeView>
        </MudDrawer>
        <MudMainContent Class="pt-16 px-16">
            <MudContainer MaxWidth="MaxWidth.Large">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

@code{
    private bool _isDrawerOpen = false;
    private string? _currentUsername;
    private bool _isInCall;

    protected override void OnInitialized()
    {
        CallStateContainer.OnStateChange += () =>
        {
            _isInCall = CallStateContainer.IsInCall;
            StateHasChanged();
        };
    }

    private void ToggleDrawer()
    {
        _isDrawerOpen = !_isDrawerOpen;
    }

    private void OnLogin()
    {
        NavigationManager.NavigateTo("login");
    }

    private void OnRegister()
    {
        NavigationManager.NavigateTo("register");
    }

    private async Task OnLogOut()
    {
        await JwtProvider.DeleteTokenAsync();
        await HubConnectionProvider.DisconnectFromHubsAsync();
    }

    public void Dispose()
    {
        CallStateContainer.OnStateChange -= StateHasChanged;
    }

}