@inherits LayoutComponentBase

<PageTitle>ChatApp.BlazorServer</PageTitle>

<div class="page">
    <Header>
    </Header>

    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>


    <main>
        <article class="container content px-4 mt-5">
            @Body
        </article>
    </main>
</div>