@inject IJwtPersistService JwtPersistService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <AuthorizeView>
            <Authorized>
                <a class="navbar-brand" href="">
                    @@@context.User.Identity?.Name
                </a>
            </Authorized>
            <NotAuthorized>
                <a class="navbar-brand" href="">ChatApp.BlazorServer</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="secret">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Secret
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="change-password">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Change Password
                    </NavLink>
                </div>
                <hr class="nav-separator"/>
                <div class="nav-item nav-item-danger px-3">
                    <a class="nav-link" @onclick="LogOut">
                        <span class="" aria-hidden="true"></span> Logout
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <hr class="nav-separator"/>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private async Task LogOut()
    {
        await JwtPersistService.RemoveJwtTokenAsync();
    }

}