@page "/Call"
@inject CallStateContainer CallStateContainer
@using Microsoft.AspNetCore.SignalR.Client
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration
@inject HubConnectionProvider HubConnectionProvider
@implements IDisposable

<h3>Call</h3>
@if (CallStateContainer.CurrentCall != null && CallStateContainer.IsInCall)
{
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="HangUp">HangUp</MudButton>
    <MudGrid>
        <MudItem>
            <MudText >
                @CallStateContainer.currentUsername:
            </MudText>
            <video style="max-width: 40vw" id="my_video"></video>
        </MudItem>
        <MudItem>
            <MudText>
                @CallStateContainer.remoteUsername:
            </MudText>
            <video style="max-width: 40vw" id="remote_video"></video>
        </MudItem>
    </MudGrid>
}

@code {
    private HubConnection? _callsHubConnection;

    private string SubscriberPeerId { get; set; }
    private readonly List<IDisposable> _hubSubscriptions = new();
    private bool _isAccepted;
    private bool _isDisposed;


    protected override async Task OnInitializedAsync()
    {
        if (CallStateContainer.CurrentCall == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        
        _callsHubConnection = await HubConnectionProvider.GetHubConnection("calls");

        _hubSubscriptions.Add(SubscribeToCallEnded());

        if (CallStateContainer.CurrentCall is {IsReceiver: true })
        {
            _isAccepted = true;
            SubscriberPeerId = await JsRuntime.InvokeAsync<string>("initPeer");
            await JsRuntime.InvokeVoidAsync("subscribeToCalls");
            await _callsHubConnection.SendAsync("AcceptCall", CallStateContainer.CurrentCall.CallUsernames, SubscriberPeerId);
            await InvokeAsync(StateHasChanged);
        }
        

        
        if (CallStateContainer.CurrentCall is {IsReceiver: false })
        {
            _hubSubscriptions.Add(SubscribeToCallAccept());
        }
        
        _hubSubscriptions.Add
            (
                _callsHubConnection.On($"{CallStateContainer.remoteUsername.ToLower()}/Disconnected", async () =>
                {
                    await HangUp();
                })
            );
    }

    private async Task HangUp()
    {
        await _callsHubConnection.InvokeAsync("HangUp", CallStateContainer.CurrentCall?.CallUsernames);
    }

    private IDisposable SubscribeToCallEnded()
    {
        return _callsHubConnection.On("CallEnded", async () =>
        {
            NavigationManager.NavigateTo(CallStateContainer.CurrentCall?.ReturnUrl ?? "/");
        });
    }

    private IDisposable SubscribeToCallAccept()
    {
        return _callsHubConnection.On("CallAccepted", async (string peerJsId) =>
        {
            _isAccepted = true;
            await InvokeAsync(StateHasChanged);
            await JsRuntime.InvokeVoidAsync("newPeer");
            await JsRuntime.InvokeVoidAsync("makePeerjsCall", peerJsId);
            await InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        InvokeAsync(async () => await JsRuntime.InvokeVoidAsync("endCall"));
        InvokeAsync(async () => await _callsHubConnection.InvokeAsync("HangUp", CallStateContainer.CurrentCall?.CallUsernames));
        _hubSubscriptions.ForEach(x => x.Dispose());
        CallStateContainer.CurrentCall = null;
    }

}