@page "/Call"
@inject CallStateContainer CallStateContainer
@using Microsoft.AspNetCore.SignalR.Client
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@implements IDisposable

<h3>Call</h3>
@if (CallStateContainer.CurrentCall != null && CallStateContainer.IsInCall)
{
    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="HangUp">HangUp</MudButton>
    <MudGrid>
        <MudItem lg="6">
            <MudText >
                @CallStateContainer.currentUsername:
            </MudText>
            <video id="my_video"></video>
        </MudItem>
        <MudItem lg="6">
            <MudText >
                @CallStateContainer.remoteUsername:
            </MudText>
            <video id="remote_video"></video>
        </MudItem>
    </MudGrid>
}

@code {
    [CascadingParameter(Name = "CallsHubConnection")]
    public HubConnection? CallsHubConnection { get; set; }

    private string SubscriberPeerId { get; set; }
    private readonly List<IDisposable> _hubSubscriptions = new();
    private bool _isAccepted = false;


    protected override async Task OnInitializedAsync()
    {
        if (CallStateContainer.CurrentCall == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        _hubSubscriptions.Add(SubscribeToCallEnded());

        if (CallStateContainer.CurrentCall is {IsReceiver: true })
        {
            _isAccepted = true;
            SubscriberPeerId = await JsRuntime.InvokeAsync<string>("initPeer");
            await JsRuntime.InvokeVoidAsync("subscribeToCalls");
            await CallsHubConnection.SendAsync("AcceptCall", CallStateContainer.CurrentCall.CallUsernames, SubscriberPeerId);
        }
        

        
        if (CallStateContainer.CurrentCall is {IsReceiver: false })
        {
            _hubSubscriptions.Add(SubscribeToCallAccept());
        }
        
        _hubSubscriptions.Add
            (
                CallsHubConnection.On($"{CallStateContainer.remoteUsername.ToLower()}/Disconnected", async () =>
                {
                    await HangUp();
                })
            );
    }

    private async Task HangUp()
    {
        await CallsHubConnection.InvokeAsync("HangUp", CallStateContainer.CurrentCall?.CallUsernames);
    }

    private IDisposable SubscribeToCallEnded()
    {
        return CallsHubConnection.On("CallEnded", async () => { NavigationManager.NavigateTo("/"); });
    }

    private IDisposable SubscribeToCallAccept()
    {
        return CallsHubConnection.On("CallAccepted", async (string peerJsId) =>
        {
            _isAccepted = true;
            await JsRuntime.InvokeVoidAsync("newPeer");
            await JsRuntime.InvokeVoidAsync("makePeerjsCall", peerJsId);
        });
    }

    public void Dispose()
    {
        InvokeAsync(async () => await JsRuntime.InvokeVoidAsync("endCall"));
        InvokeAsync(async () => await CallsHubConnection.InvokeAsync("HangUp", CallStateContainer.CurrentCall?.CallUsernames));
        _hubSubscriptions.ForEach(x => x.Dispose());
        CallStateContainer.CurrentCall = new CallState();
    }

}