@page "/Login"
@using ChatApp.API.DTOs
@using ChatApp.BlazorServer.ApiProviders
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject IAuthenticationApiProvider AuthenticationApiProvider

<h3>Login</h3>

<EditForm
    Model="@_loginDto"
    OnValidSubmit="@OnLogin">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="user-name">User name</label>
        <InputText class="form-control" id="user-name" @bind-Value="@_loginDto.UserName"/>
    </div>


    <div class="form-group">
        <label for="password">Password</label>
        <InputText type="text" class="form-control" id="password" @bind-Value="@_loginDto.Password"/>
    </div>

    <button type="submit">Login</button>
</EditForm>


@code {
    private LoginDto _loginDto = new();
    private UserDto? _userDto;

    private async Task OnLogin()
    {
        _userDto = await AuthenticationApiProvider.Login(_loginDto);
        await ProtectedLocalStorage.SetAsync("token", _userDto.Token);
    }

}