@page "/Secret"
@using System.Net
@inject IJwtHttpClientFactory JwtHttpClientFactory

<h3>Secret</h3>
@if (_secret != null)
{
    <p>Secret: @_secret</p>
}


@code {
    private string? _secret;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = await JwtHttpClientFactory.CreateJwtClientAsync();


        var response = await httpClient.GetAsync("http://localhost:5000/api/Secret");
        if (response.IsSuccessStatusCode)
        {
            _secret = await response.Content.ReadAsStringAsync();
        }
        if (response.StatusCode == HttpStatusCode.Unauthorized)
        {
            _secret = "unauthorized";
        }
    }
}