@page "/Secret"
@inject IJwtHttpClient JwtHttpClient

<AuthorizeView>
    <Authorized>
        <h1>Secret:</h1>
        <p>@_secret</p>
    </Authorized>
    <NotAuthorized>
        <h1>You are not authorized.</h1>
        <p>Register or authorize to see secret message.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private string _secret = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var response = await JwtHttpClient.GetAsync("http://localhost:5000/api/Secret");
        _secret = await response.Content.ReadAsStringAsync();
    }

}