@page "/Test"
@using ChatApp.DTO
@inject IUsersApiProvider UsersApiProvider

<h3>Test</h3>

<MudText>@_users</MudText>
@if (_response != null)
{
    <MudText>@_response.TotalCount</MudText>   
}

@code {
    private string _users = String.Empty;
    private PagedResponseDto<AppUserDto> _response = new ();

    protected override async Task OnInitializedAsync()
    {
        var res = await UsersApiProvider.LoadUsers();
        _users = await res.Content.ReadAsStringAsync();
        _response = await res.Content.ReadFromJsonAsync<PagedResponseDto<AppUserDto>>();
    }
}